@import './../base/vars';
.experts {
    scroll-margin-top: 131px;
    padding: 100px 0;
    background-color: #162542;
}
.experts__title {
    color: $color-body;
}
.experts {
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__item {
        position: relative;
        z-index: 9;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 30px;
        &-box {
            border: 1px solid #b68c5a;
            padding: 5px;
            overflow: hidden;
            position: relative;
            &-link {
                background: #b68c5a;
                width: 38px;
                height: 38px;
                line-height: 38px;
                display: block;
                text-align: center;
                color: #fff;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                i {
                    font-size: 25px;
                }
            }   
            &-socials {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: absolute;
                background: #101723;
                bottom: 5px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                padding: 10px;
                -webkit-transition: all 0.6s ease;
                transition: all 0.6s ease;
                width: 65%;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:hover &-socials {
                visibility: visible;
                opacity: 1;
            }
            &:hover h4 {
                opacity: 0;
            }
            &:hover p {
                opacity: 0;
            }
            
            &-text {
                background: #fff;
                padding: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h4 {
                    font-weight: 600;
                    font-size: 25px;
                    color: $color-main;
                    font-family: 'Source Serif 4', serif;
                    transition: all 0.3s ease-in-out;
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 1.6;
                    color: #666666;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        &-border-one {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #b68c5a;
            left: -5px;
            top: -5px;
            z-index: -1;
        }
        &-border-two {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #b68c5a;
            right: -5px;
            top: -5px;
            z-index: -1;
        }
        &-border-three {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #b68c5a;
            left: -5px;
            bottom: -5px;
            z-index: -1;
        }
        &-border-four {
            position: absolute;
            width: 50px;
            height: 50px;
            background: #b68c5a;
            right: -5px;
            bottom: -5px;
            z-index: -1;
        }
    }
}

@media (max-width: 1100px) {
    .experts__items {
        flex-wrap: wrap;
    }
    .experts__item {
        flex-basis: 40%;
    }
    .experts__item-box-img {
        object-fit: cover;
        width: 100%;
    }
    .experts__row {
        text-align: center;
    }
}

@media (max-width: 570px) {
    .experts__item {
        flex-basis: 80%;
    }
}